<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gastro Fapa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Restaurantly - v3.7.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body>
  <%let temp = "/assets/img/menu/lobster-bisque.jpg";%>
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> <%=restaurante.horario%></span></i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>Pt-br</li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">GastroFapa</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#menu">Cardápio</a></li>
          <li><a class="nav-link scrollto" href="#specials">Especiais</a></li>
          <li><a class="nav-link scrollto" href="#contact">Localização</a></li>
          <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Bem vindo ao <span><%=restaurante.nome%> <a class="bi-pencil-square btn-lg h1" data-bs-toggle="modal" data-bs-target="#modalPerfil" data-descricao="<%=restaurante.descricao%>" data-imagem="<%=restaurante.bglink%>"><span></span></a></span></h1>
          <h2><%=restaurante.descricao%></h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Cardápio</a>
            <a href="#contact" class="btn-book animated fadeInUp scrollto">Localização</a>
          </div>
        </div>

        <!-- ======= Youtube Video ======= -->

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->

    <!-- ======= Why Us Section ======= -->

    <!-- ======= Menu Section ======= -->

    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Cárdapio</h2>
          <p>Edite e adicione itens <a class="bi-plus-circle" data-bs-toggle="modal" data-bs-target="#myModal"><span></span></a></p>
        </div>


        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
          
          <% pratos.forEach(function(prato){ %>
            <% if(!prato.esp){ %>
              <% if(prato.linkimagem != null){
                temp = prato.linkimagem;
              }; %>
              <div class="col-lg-6 menu-item filter-starters">
                <img src="<%=temp %>" class="menu-img" alt="">
                <div class="menu-content">
                  <a><%=prato.nome %></a><span>R$<%=prato.preco %>
                    <a class="bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal"
                    data-nome="<%=prato.nome %>"
                    data-imagem="<%=prato.linkimagem %>"
                    data-descricao="<%=prato.descricao %>"
                    data-valor="<%=prato.preco %>"
                    ></a>
                </div>
                <div class="menu-ingredients">
                  <%=prato.descricao %>
                </div>
              </div>
            <%};%>
          <% }); %>

        </div>

      </div>

    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Especias</h2>
          <p>Edite e adicione especialidades <a class="bi-plus-circle" data-bs-toggle="modal" data-bs-target="#myModal"></a></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              
              <%let cont = 1;%>
                <% pratos.forEach(function(especial){ %>
                  <% if(especial.esp){ %>
                    <% switch(cont){ 
                        case 1: %>
                         <li class="nav-item">
                          <a class="nav-link active show" data-bs-toggle="tab" href="#tab-<%=cont %>"><%=especial.nome %></a>
                         </li>
                    <%   break;
                        default: %>
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-<%=cont %>"><%=especial.nome %></a>
                      </li>
                <% };cont = cont + 1;}; 
                   }); %>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">

            <%cont = 1;%>
              <% pratos.forEach(function(especial){ %>
                <% if(especial.esp){ %>
                  <% if(especial.linkimagem != null){
                    temp = especial.linkimagem;
                  }; %>
                  <% switch(cont){ 
                      case 1: %>
                      <div class="tab-pane active show" id="tab-<%=cont %>">
                        <div class="row">
                          <div class="col-lg-8 details order-2 order-lg-1">
                            <br>
                            <h3><%=especial.nome %> <a class="bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal"
                              data-nome="<%=especial.nome%>"
                              data-imagem="<%=especial.linkimagem%>"
                              data-descricao="<%=especial.descricao %>"
                              data-valor="<%=especial.preco %>"
                              ></a></h3>
                            <a>R$<%=especial.preco %></a>
                            <p class="fst-italic"><%=especial.descricao %></p>
                          </div>
                          <div class="col-lg-4 text-center order-1 order-lg-2">
                            <img src="<%=temp %>" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                  <%   break;
                      default: %>
                      <div class="tab-pane" id="tab-<%=cont %>">
                        <div class="row">
                          <div class="col-lg-8 details order-2 order-lg-1">
                            <br>
                            <h3><%=especial.nome %> <a class="bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal"
                              data-nome="<%=especial.nome %>"
                              data-imagem="<%=especial.linkimagem %>"
                              data-descricao="<%=especial.descricao %>"
                              data-valor="<%=especial.preco %>"
                              ></a></h3>
                            <a>R$<%=especial.preco %></a>
                            <p class="fst-italic"><%=especial.descricao %></p>
                          </div>
                          <div class="col-lg-4 text-center order-1 order-lg-2">
                            <img src="<%=temp %>" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                  <% };cont = cont + 1;}; 
                   });%>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
   
    <!-- ======= Book A Table Section ======= -->

    <!-- ======= Gallery Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contato e Localização</h2>
          <p>Nossa localização</p>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center" data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1221.2265441859986!2d-51.122132537248724!3d-30.03254610150158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd63b6768979e2d2f!2zMzDCsDAxJzU3LjMiUyA1McKwMDcnMjEuMSJX!5e0!3m2!1sen!2sbr!4v1655062672027!5m2!1sen!2sbr" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
           <div class="info">
            <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Horário de funcionamento: </h4>
                <p>
                  <%=restaurante.horario%>
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><%=restaurante.email%></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Contato:</h4>
                <p><%=restaurante.telefone%></p>
              </div>

            </div>

          </div>
          
          <!-- ======= contactar email ======= -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Gastro Fapa</h3>
              <p>
                 <br>
                <br><br>
                <strong></strong> <br>
                <strong></strong> <br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gastro</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Aluninhos</a>
      </div>
    </div>
    
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" hidden-bs-modal="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title">Editando</h5>
         <button types="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body container">
          <form>
           <div class="modal-name mb-3">
             <input type="text" name="txtNome" id="txtNome" class="form-control" placeholder="Nome">
           </div>
           <div class="modal-value mb-3">
            <input type="number" name="txtValor" id="txtValor" class="form-control" placeholder="Valor">
           </div>
           <div class="mb-3">
            <textarea class="form-control" name="txtDescricao" id="txtDescricao" placeholder="De uma descricao ao item!"></textarea>
           </div>
           <div class="modal-img row mb-3">
            <div class="col-lg-3">
              <img style = "width: 85px; height: 85px; ; border-radius: 50%; float: left; border: 5px solid rgba(255, 255, 255, 0.2);"src="https://imgur.com/FZ6RVun.jpg" id="img" name="img" height="200px">           
              <input type="file" id="file">
             </div>
           </div>
           <div class="mb-3">  
            <br>     
            <button type="submit" name="Deletar" class="btn btn-danger view_data">Deletar</button>
            <button type="submit" name="Salvar" class="btn btn-primary view_data">Salvar</button>
           </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalPerfil" tabindex="-1" role="dialog" hidden-bs-modal="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title">Editando</h5>
         <button types="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body container">
          <form>
             <div>
             <label class="form-label">Imagem de perfil:</label>
            </div>
            <div class="row mb-3">
             <div class="d-flex justify-content-center align-items-center mb-3">
               <img class="border border-secondary border-1 rounded" style="border:0; width: 90%; height: 235px;"src="https://imgur.com/FZ6RVun.jpg" id="img" height="235px">           
             </div>
             <input type="file" id="file">
            </div>
           <div class="mb-3">
            <label class="form-label">Diga algo sobre seu restaurante:</label>
            <textarea class="form-control" name="txtDescricaoPerfil" id="txtDescricaoPerfil" placeholder="De uma descricao ao item!"></textarea>
           </div>
           <div class="mb-3">  
            <br>     
            <button type="submit" name="Deletar" class="btn btn-danger view_data">Deletar</button>
            <button type="submit" name="Salvar" class="btn btn-primary view_data">Salvar</button>
           </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<script>
  let myModal = document.getElementById('myModal')
  myModal.addEventListener('show.bs.modal', function (event) {
  let button = event.relatedTarget
  let nome = button.getAttribute('data-nome')
  let valor = button.getAttribute('data-valor')
  let descricao = button.getAttribute('data-descricao')
  let imagem = button.getAttribute('data-imagem')
  valor = valor.replace(',','.')
  
  let modalBodynome = myModal.querySelector('.modal-name input')
  let modalBodyvalor = myModal.querySelector('.modal-value input')
  let modalBodydescricao = myModal.querySelector('.modal-body textarea')
  let modalBodyimagem = myModal.querySelector('.modal-img img')

  modalBodynome.value = nome
  modalBodyvalor.value = valor
  modalBodydescricao.value = descricao
  modalBodyimagem.src = imagem
})
</script>

<script>
  let modalPerfil = document.getElementById('modalPerfil')
  modalPerfil.addEventListener('show.bs.modal', function (event) {
  let button = event.relatedTarget
  let descricao = button.getAttribute('data-descricao')
  let imagem = button.getAttribute('data-imagem')
  
  let modalBodydescricao = modalPerfil.querySelector('.modal-body textarea')
  let modalBodyimagem = modalPerfil.querySelector('.modal-body img')

  modalBodydescricao.value = descricao
  modalBodyimagem.src = imagem
})
</script>

<script>
  const file = document.getElementById("file")
  const img = document.getElementById("img")
  const url=document.getElementById("url")
  console.log("test_1")
  file.addEventListener("change", ev => {
      console.log(ev)
      const formdata = new FormData()
      formdata.append("image", ev.target.files[0])
      fetch("https://api.imgur.com/3/upload", {
          method: "post",
          headers: {
              Authorization: "Client - ID d44baf18ef10094"
          }, 
          body: formdata
      
      }).then(data => data.json()).then(data => {
          img.src=data.data.link
          url.innerText=data.data.link
          console.log(data)
          console.log("Test_2")
      })
  })
</script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
 
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  
  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <%if(restaurante.bglink != null){%>
    <style>
    #hero {
      background: url("<%=restaurante.bglink%>") top center;
    }
    </style>
  <%}%>

</body>

</html>